<div class="p-5 border border-black grid">
    <header class="flex flex-col">
        <div class="prose max-w-none">
            <h3>{{ title }}</h3>
        </div>
    </header>
    <main class="my-5 prose max-w-none">
        {{ summary }}
    </main>
    <footer></footer>
</div>