---
layout: layouts/main.njk
navbar_order: 0
title: Blog
summary: List of blog’s posts
type: posts-list
---

<section class="flex flex-col my-1 gap-1 md:gap-2">
  <ul role="list" class="space-y-2">
    {% for post in search.pages("type=post", "date=desc") %}
      <li>
        <a href="{{ post.url }}" aria-label="Link to {{ post.url }}">
          {{ comp.ui.PostCard(post) | safe }}
        </a>
      </li>
    {% endfor %}
  </ul>
</section>