---
layout: layouts/blog-index.njk
navbar_order: 0
title: Blog
type: posts-list
---

<section>
    <header class="mb-5 flex items-between">
        <div class="prose max-w-none">
            <h1>{{ title }}</h1>
        </div>
    </header>
    <div class="flex flex-col gap-2">
        {% for post in search.pages("type=post", "date=desc") %}
            <a href="{{ post.url }}">
                {{ comp.ui.PostListCard(post) | safe }}
            </a>
        {% endfor %}
    </div>
</section>