---
layout: layouts/main.njk
navbar_order: 0
title: Blog
type: posts-list
---

<section class="flex flex-col my-1 gap-1 md:gap-2">
    {% for post in search.pages("type=post", "date=desc") %}
        <a href="{{ post.url }}">
            {{ comp.ui.PostListCard(post) | safe }}
        </a>
    {% endfor %}
</section>