---
layout: layouts/main.njk
---

<section class="p-10 w-full flex flex-col items-center border-dashed border-2 border-zinc-200">
    <div class="prose max-w-none">
        {{ content | safe }}
    </div>
</section>