---
layout: layouts/main.njk
---

<section class="p-10 w-full flex flex-col items-center bg-zinc-50/90 shadow-inner shadow-zinc-950">
  <div class="prose max-w-none">
    {{ content | safe }}
  </div>
</section>