---
layout: layouts/main.njk
---

<section class="p-10 w-full flex flex-col items-center bg-light shadowed">
  <div class="prose max-w-none prose-a:decorate-links">
    {{ content | safe }}
  </div>
</section>