---
layout: layouts/main.njk
---

<article class="p-10 flex flex-col bg-zinc-50/90">
  <header class="prose max-w-none mb-5">
    <h1>{{ title }}</h1>
  </header>
  <main class="prose max-w-none">
    {{ content | safe }}
  </main>
</article>