<footer class="py-5">
    <nav class="w-1/5 mx-auto">
        <ul class="flex justify-evenly">
            <li>
                {{ comp.ui.icons.github() | safe }}
            </li>
            <li>
                {{ comp.ui.icons.linkedin() | safe }}
            </li>
            <li>
                {{ comp.ui.icons.rss() | safe }}
            </li>
        </ul>
    </nav>
</footer>