---
layout: layouts/main.njk
title: Home
summary: Home page
---

<section class="p-20 flex flex-col items-center space-y-16 bg-light shadowed">
  <p class="text-4xl hover:animate-pulse">{{resume.basics.label}}</p>
  <div class="group flex flex-col italic">
    <p class="place-self-start text-2xl opacity-70">Hi,</p>
    <p class="text-6xl py-8">I’m {{resume.basics.name}}</p>
    <p class="place-self-end opacity-70 text-2xl not-italic">[ sevʁɛ̃ dypwi ]</p>
    <p class="place-self-end opacity-70 invisible group-hover:visible">However, severino works well in many languages !</p>
  </div>
</section>