---
layout: layouts/main.njk
title: Home
---

<section class="pt-8 flex flex-col items-center space-y-16 font-serif ">
    <p class="text-4xl animate-pulse">{{resume.basics.label}}</p>
    <div class="group flex flex-col italic">
        <p class="place-self-start text-2xl opacity-50">Hi,</p>
        <p class="text-6xl py-8">I’m {{resume.basics.name}}</p>
        <p class="place-self-end opacity-50 text-2xl not-italic">[ sevʁɛ̃ dypwi ]</p>
        <p class="place-self-end opacity-70 invisible group-hover:visible">However, severino works well in many languages !</p>
    </div>
</section>